* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #627D7F;
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1 {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 10vh;
    position: relative;
    font-size: 70px;
}

.my-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 17vh;
    position: relative;
    background: linear-gradient(90deg,rgba(92, 92, 92, 0.308) 0%, rgba(255, 255, 255, 0.541) 50%, rgba(92, 92, 92, 0.308) 100%);
    width: 100%;
}

form {
    width: 30%;
    text-align: center;
}

.completed-Btn {
    margin-right: 0;
    padding: 5px;
    border-radius: 10px;
    font-size: small;
    background-color: rgba(77, 77, 77, 0.486);
}

.main-Btns {
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #000000;
    width: auto;
    background-color: rgb(140, 201, 201);
}

#paper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 50%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(255, 255, 251, 0.8);
    padding: 20px;
}

#shopping-list {
    list-style: none;
    width: 100%;
    padding: 0;
}

.shopping-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 100%;
}

.item-text {
    font-size: 24px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top: 1px solid black;
    background: linear-gradient(90deg,rgba(163, 186, 191, 0) 0%, rgba(86, 137, 145, 1) 50%, rgba(163, 186, 191, 0) 100%);
    width: 100%;
}