* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #627D7F;
}
h1 {
    color: #121717;
    text-align: center;
    margin-top: 50px;
    height: 10vh;
    position: relative;
}

.my-container-one {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 30vh;
    position: relative;
}

button {
    margin-right: 0;
    padding: 5px;
    border-radius: 10px;
    font-size: small;
}


.my-Btns {
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #000000;
    width: auto;
    background-color: rgb(140, 201, 201);
    }

.task-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    width: 30%;
    margin: 0 auto;
    height: 15vh;
    overflow-y: auto;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px #000;
    position: relative;
}

