* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #627D7F;
}
h1 {
    color: #121717;
    text-align: center;
    margin-top: 50px;
    height: 10vh;
    position: relative;
}

.my-container-one {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 40vh;
    position: relative;
}
#input-field {
    position: relative;
    width: 25%;
    color: black;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #000;
    padding: 10px;
}


.my-Btns {
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #000000;
    width: auto;
    background-color: rgb(140, 201, 201);
    }
/* 
.my-container-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
} */

.task-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    width: 30%;
    margin: 0 auto;
    height: auto;
    overflow-y: auto;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px #000;
    position: relative;
}

