* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #627D7F;
}
h1 {
    color: #121717;
    text-align: center;
    margin-top: 50px;
    height: 10vh;
    position: relative;
}

.my-container-one {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 30vh;
    position: relative;
}

.delete-btn {
    margin-right: 0;
    padding: 5px;
    border-radius: 10px;
    font-size: small;
    background-color: rgb(255, 71, 71);
}


.my-Btns {
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #000000;
    width: auto;
    background-color: rgb(140, 201, 201);
    }

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
    margin: 0 auto;
    height: auto;
    overflow-y: auto;
    padding: 10px;
    position: relative;
}
#paper {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    height: 200vh;
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 5px;
}
.title {
    font-size: 55px;
    margin-top: 50px;
    color: #000000;
    font-style: italic;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
